h1{
color: #2A2E45;  
}

h1{
color: #F25757;
 }

 #prav1{color: green;}

.colin1{
color: #2A2E45;  
}

body {
    background-color: #EAF2E3;
}
div{columns: 2;
}

< Navigation >
<div class="w3-top w3-bar w3-black">
<a href="#home" class="w3-bar-item w3-button">Home</a>
<a href="#about" class="w3-bar-item w3-button">About</a>
<a href="#members" class="w3-bar-item w3-button">Members</a>
<a href="#contact" class="w3-bar-item w3-button">Contact</a>
</div>

<img src="img_la.jpg" alt="LA" style="width:100%">

@media only screen and (max-width: 600px) {
    body {
      background-color: blue;
    }
  }