h1{
color: #0d066e;
 }

 #prav1{color: green;}

.colin1{
color: #2A2E45;  
}

body {
    background-color: #EAF2E3;
    background-image: url(https://images.pexels.com/photos/74140/portugal-sand-overexposed-faded-74140.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
}
#color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:white;
  opacity: 0.6;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #04AA6D);
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */ 
  .topnav a {
    float: left;
    color: #030303;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(241, 238, 9);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #e64a4a;
    color: white;
  }

  .box-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
  .box {
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px black;
    width: 80px;
    padding: 10px;
    margin: left;
  }
  .box {
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px black;
    width: 80px;
    padding: 10px;
    margin: auto;
  }